Process_OnVolunteers_Reports_Test_Recreate.json
{
  "nodes": [
    {
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "8AbYZqmZcnT2SuX1",
          "name": "Gmail account"
        }
      },
      "position": [
        -1008,
        0
      ],
      "id": "gmail_trigger_1",
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "q": "subject:\"Requested OnVolunteers Report\" from:no-reply@onvolunteers.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3
    },
    {
      "position": [
        -900,
        0
      ],
      "typeVersion": 1,
      "type": "n8n-nodes-base.set",
      "id": "set_1",
      "parameters": {
        "options": {},
        "values": {
          "binary": [
            {
              "value": "={{ $binary.attachment_0 }}",
              "name": "data"
            }
          ]
        }
      },
      "name": "Set Attachment"
    },
    {
      "id": "read_spreadsheet_1",
      "name": "Extract From File",
      "parameters": {
        "options": {}
      },
      "position": [
        -800,
        0
      ],
      "typeVersion": 1,
      "type": "n8n-nodes-base.extractFromFile"
    },
    {
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const items = $input.all(); let parkingHoursCount = 0; for (const item of items) { if (item.json['Target Hours'] === 3) { parkingHoursCount++; } } const totalRows = items.length; const parkingHoursPercentage = totalRows > 0 ? (parkingHoursCount / totalRows) * 100 : 0; let report_type = 'volunteer-hours'; if (parkingHoursPercentage > 90) { report_type = 'parking-hours'; } return [{ json: { report_type: report_type, ...$items('Gmail Trigger')[0].json, binary: $items('Gmail Trigger')[0].binary } }];"
      },
      "position": [
        -608,
        0
      ],
      "name": "Determine Report Type",
      "type": "n8n-nodes-base.code",
      "id": "code_1"
    },
    {
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "name": "If Parking Hours",
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.report_type}}",
              "value2": "parking-hours"
            }
          ]
        }
      },
      "id": "if_1"
    },
    {
      "typeVersion": 3,
      "name": "Save Parking Report",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4Nb56TaIDLQuidMI",
          "name": "Google Drive account"
        }
      },
      "position": [
        -208,
        -96
      ],
      "type": "n8n-nodes-base.googleDrive",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "1lYocjrGnZhCRdnwQsf79uYPEDG_BRUYG"
      },
      "id": "google_drive_1"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4Nb56TaIDLQuidMI",
          "name": "Google Drive account"
        }
      },
      "position": [
        -208,
        112
      ],
      "typeVersion": 3,
      "type": "n8n-nodes-base.googleDrive",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "16Bfn4k7_L4QQp-vxQZGknItzIGUF_4Q1"
      },
      "name": "Save Volunteer Report",
      "id": "google_drive_2"
    },
    {
      "id": "gmail_1",
      "webhookId": "7cb8c85a-e44a-417c-b460-0fd0d13d4a26",
      "position": [
        0,
        0
      ],
      "name": "Mark Email as Read",
      "typeVersion": 2.1,
      "parameters": {
        "messageId": "={{$json.id}}",
        "operation": "markAsRead"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "8AbYZqmZcnT2SuX1",
          "name": "Gmail account"
        }
      },
      "type": "n8n-nodes-base.gmail"
    },
    {
      "id": "manual_trigger_1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        -1008,
        -200
      ]
    },
    {
      "id": "gmail_get_email_1",
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "subject:\"Requested OnVolunteers Report\" from:no-reply@onvolunteers.com",
          "readStatus": "unread"
        },
        "downloadAttachments": true,
        "limit": 1
      },
      "type": "n8n-nodes-base.gmail",
      "position": [
        -900,
        -200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "8AbYZqmZcnT2SuX1",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1,
      "name": "Get Email for Manual Trigger"
    }
  ],
  "connections": {
    "Set Attachment": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Parking Report": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Mark Email as Read"
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Determine Report Type"
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Set Attachment"
          }
        ]
      ]
    },
    "If Parking Hours": {
      "main": [
        [
          {
            "node": "Save Parking Report",
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "type": "main",
            "index": 0,
            "node": "Save Volunteer Report"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Email for Manual Trigger",
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Get Email for Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Volunteer Report": {
      "main": [
        [
          {
            "index": 0,
            "type": "main",
            "node": "Mark Email as Read"
          }
        ]
      ]
    },
    "Determine Report Type": {
      "main": [
        [
          {
            "type": "main",
            "index": 0,
            "node": "If Parking Hours"
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false,
  "versionId": "f4a1db40-4108-407e-bd94-5f64ba77ea87",
  "id": "7xe6NgksWKwsEhZY",
  "staticData": null,
  "meta": null,
  "pinData": null,
  "createdAt": "2025-09-03T08:28:12.341Z",
  "updatedAt": "2025-09-03T08:28:12.341Z",
  "isArchived": false,
  "triggerCount": 0
}